In [2]:
from supabase import create_client
import pandas as pd 
import os
from dotenv import load_dotenv
load_dotenv()
supabase=create_client(os.getenv("SUPABASE_URL"),os.getenv("SUPABASE_KEY"))
data=supabase.table("titanic_data").select("*").execute()
df=pd.DataFrame(data.data)
df.head()
df.info()
df.isnull().sum()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1000 non-null   int64
 1   survived     1000 non-null   int64
 2   pclass       1000 non-null   int64
 3   sex          1000 non-null   object
 4   age          1000 non-null   float64
 5   sibsp        1000 non-null   int64
 6   parch        1000 non-null   int64
 7   fare         1000 non-null   float64
 8   embarked     1000 non-null   object
 9   class        1000 non-null   object
 10  who          1000 non-null   object
 11  deck         1000 non-null   object
 12  embark_town  997 non-null    object
 13  alone        1000 non-null   bool
 14  family_size  1000 non-null   int64
 15  is_alone     1000 non-null   bool
 16  title        1000 non-null   object
dtypes: bool(2), float64(2), int64(6), object(7)
memory usage: 119.3+ KB

Index(['id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'deck', 'embark_town', 'alone',
       'family_size', 'is_alone', 'title'],
      dtype='object')